<div class="top-row ps-3 navbar navbar-darks">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/favicon.png" alt="Logo" style="height:40px;" />
        </a>

       

    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3  navbar navbar-dark">

            <NavLink class="nav-link" href="/bio">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Bio
            </NavLink>
            <NavLink class="nav-link" href="/services">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Services
            </NavLink>
             <NavLink class="nav-link" href="/faq">
                <span class="oi oi-briefcase" aria-hidden="true"></span> FAQ
            </NavLink>

        </div>
    </nav>
</div>

